/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5b0cbb;
  --ifm-color-primary-dark: #520ba8;
  --ifm-color-primary-darker: #4d0a9f;
  --ifm-color-primary-darkest: #400883;
  --ifm-color-primary-light: #640dce;
  --ifm-color-primary-lighter: #690ed7;
  --ifm-color-primary-lightest: #7713f0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #996fc8;
  --ifm-color-primary-dark: #b590df;
  --ifm-color-primary-darker: #aa81da;
  --ifm-color-primary-darkest: #8a51cc;
  --ifm-color-primary-light: #dfd0f1;
  --ifm-color-primary-lighter: #eadff6;
  --ifm-color-primary-lightest: #ffffff;
}
